<section class="details-hero">
        <div class="container">
            <h2>Laptop Details</h2>
        </div>
    </section>

    <section class="details-content">
        <div class="container">
            <div class="product-details">
                <div class="product-image">
                    <img src="{{post.image}}" alt="Laptop">
                </div>
                <div class="product-info">
                    <h3>Brand: {{post.brand}}</h3>
                    <p><strong>Model:</strong> {{post.model}}</p>
                    <p><strong>Hard Disk:</strong> {{post.hardDisk}}</p>
                    <p><strong>Screen Size:</strong> {{post.screenSize}}</p>
                    <p><strong>RAM:</strong> {{post.ram}}</p>
                    <p><strong>Operating System:</strong> {{post.operatingSystem}}</p>
                    <p><strong>CPU:</strong> {{post.cpu}}</p>
                    <p><strong>GPU:</strong> {{post.gpu}}</p>
                    <p><strong>Price:</strong> ${{post.price}}</p>
                    <p><strong>Color:</strong> {{post.color}}</p>
                    <p><strong>Weight:</strong> {{post.weight}}</p>
                </div>
            </div>
            
            {{#if isLoggedIn}}
            <div class="product-actions">
                {{#if isAuthor}}
                <button class="btn edit"><a href="/catalog/{{post._id}}/edit">Edit</a></button>
                <button class="btn delete"><a href="/catalog/{{post._id}}/delete">Delete</a></button>
                {{else}}
                    {{#if hasInteracted}}
                        <p class="prefer-message">You've already preferred this device</p>
                    {{else}}
                        <button class="btn prefer"><a href="/catalog/{{post._id}}/interact">Prefer</a></button>
                    {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </section>




{{!-- <div class="planet-details">
    <img src="{{planet.image}}"
        alt="Alpha Centauri Bb" class="planet-image">
    <div class="planet-info">
        <h2>Name: {{planet.name}}</h2>
        <p><strong>Age:</strong> 4.5 billion years</p>
        <p><strong>Solar System:</strong>{{planet.system}}</p>
        <p><strong>Type:</strong> {{planet.type}}</p>
        <p><strong>Moons:</strong> {{planet.moons}}</p>
        <p><strong>Size:</strong> {{planet.size}} km</p>
        <p><strong>Rings:</strong> {{planet.rings}}</p>
        <p><strong>Description:</strong> {{planet.description}}</p>
    </div>

    {{#if isLoggedIn}}
    <div class="actions">
        {{#if isAuthor}}
            <a class="edit-btn" href="/catalog/{{planet._id}}/edit">Edit</a>
            <a class="delete-btn" href="/catalog/{{planet._id}}/delete">Delete</a>
        {{else}}
            {{#if hasLiked}}
                <p id="liked-message" class="liked-message hidden">You've already liked this planet.</p>
            {{else}}
                <a id="like-button" class="like-btn" href="/catalog/{{planet._id}}/like">Like</a>
            {{/if}}
        {{/if}}
    </div>
    {{/if}}
</div> --}}