<section class="edit-hero">
    <div class="container">
        <h2>Edit Product</h2>
        <p>Fill in the details below to edit a product to the catalog.</p>
    </div>
</section>

<section class="edit-form">
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" {{#if post.brand}}value="{{post.brand}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" {{#if post.model}}value="{{post.model}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="hard-disk">Hard Disk:</label>
                <input type="text" id="hard-disk" name="hardDisk" {{#if post.hardDisk}}value="{{post.hardDisk}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="screen-size">Screen Size:</label>
                <input type="text" id="screen-size" name="screenSize" {{#if post.screenSize}}value="{{post.screenSize}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="ram">RAM:</label>
                <input type="text" id="ram" name="ram" {{#if post.ram}}value="{{post.ram}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="operating-system">Operating System:</label>
                <input type="text" id="operating-system" name="operatingSystem" {{#if post.operatingSystem}}value="{{post.operatingSystem}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="cpu">CPU:</label>
                <input type="text" id="cpu" name="cpu" {{#if post.cpu}}value="{{post.cpu}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="gpu">GPU:</label>
                <input type="text" id="gpu" name="gpu" {{#if post.gpu}}value="{{post.gpu}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" {{#if post.price}}value="{{post.price}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="gpu">Color:</label>
                <input type="text" id="color" name="color" {{#if post.color}}value="{{post.color}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="gpu">Weight:</label>
                <input type="text" id="weight" name="weight"{{#if post.weight}}value="{{post.weight}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="text" id="image" name="image" {{#if post.image}}value="{{post.image}}" {{/if}}>
            </div>
            <button type="submit" class="btn">Edit Product</button>
        </form>
    </div>
</section>







{{!-- {{#if errors}}
<div class="error-containers">
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}} --}}

<!-- form class="edit-form" method="post">
    <label for="name">Name of Planet:</label>
    <input type="text" id="name" name="name" {{#if planet.name}}value="{{planet.name}}" {{/if}}>

    <label for="age">Age (in billion years):</label>
    <input type="number" id="age" name="age" {{#if planet.age}}value="{{planet.age}}" {{/if}}>

    <label for="solarSystem">Solar System:</label>
    <input type="text" id="solarSystem" name="system" {{#if planet.system}}value="{{planet.system}}" {{/if}}>

    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="Inner" {{#if (eq planet.type 'Inner' )}}selected{{/if}}>Inner</option>
        <option value="Outer" {{#if (eq planet.type 'Outer' )}}selected{{/if}}>Outer</option>
        <option value="Dwarf" {{#if (eq planet.type 'Dwarf' )}}selected{{/if}}>Dwarf</option>
    </select>

    <label for="moons">Moons (count):</label>
    <input type="number" id="moons" name="moons" {{#if planet.moons}}value="{{planet.moons}}" {{/if}}>

    <label for="size">Size (in km):</label>
    <input type="number" id="size" name="size" {{#if planet.size}}value="{{planet.size}}" {{/if}}>

    <label for="rings">Rings:</label>
    <select id="rings" name="rings">
        <option value="Yes" {{#if (eq planet.rings 'Yes' )}}selected{{/if}}>Yes</option>
        <option value="No" {{#if (eq planet.rings 'No' )}}selected{{/if}}>No</option>
    </select>

    <label for="description">Description:</label>
    <textarea id="description" name="description"
        rows="4"> {{#if planet.description}}{{planet.description}}{{/if}}</textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="image" {{#if planet.image}}value="{{planet.image}}" {{/if}}>

    <button type="submit">Save Changes</button>
</form>









<section class="form-container">
    <h2>Edit Recipe</h2>
    <form method="post">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" {{#if product.name}}value="{{product.name}}" {{/if}}>

        <label for="skin">Skin Type:</label>
        <textarea id="skin" name="skin"> {{#if product.skin}}{{product.skin}}{{/if}}</textarea>

        <label for="description">Product Description:</label>
        <textarea id="description"
            name="description"> {{#if product.description}}{{product.description}}{{/if}}</textarea>

        <label for="ingredients">Key Ingredients:</label>
        <textarea id="ingredients"
            name="ingredients"> {{#if product.ingredients}}{{product.ingredients}}{{/if}}</textarea>

        <label for="benefits">Benefits:</label>
        <textarea id="benefits" name="benefits"> {{#if product.benefits}}{{product.benefits}}{{/if}}</textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" {{#if product.price}}value="{{product.price}}" {{/if}}>

        <label for="image">Image URL:</label>
        <input type="url" id="image" name="image" {{#if product.image}}value="{{product.image}}" {{/if}}>

        <button type="submit">Create Product Card</button>
    </form>
</section>